In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
%cd '/content/drive/My Drive/Tutor/Workshops'
!ls

The goal of this workshop is to show that even without fully understanding data science we can analyze data.

In [124]:
import pandas as pd
# from pandas import read_csv
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [123]:
data = pd.read_csv('archive.zip',sep=',')

In [136]:
data

         Position                  Track Name  ...        Date  Region
0               1  Reggaetón Lento (Bailemos)  ...  2017-01-01      ec
1               2                    Chantaje  ...  2017-01-01      ec
2               3   Otra Vez (feat. J Balvin)  ...  2017-01-01      ec
3               4                Vente Pa' Ca  ...  2017-01-01      ec
4               5                      Safari  ...  2017-01-01      ec
...           ...                         ...  ...         ...     ...
3441192       196          More Than You Know  ...  2018-01-09      hk
3441193       197                      Issues  ...  2018-01-09      hk
3441194       198                 Tuo Fei Lun  ...  2018-01-09      hk
3441195       199                          面具  ...  2018-01-09      hk
3441196       200                  Let Her Go  ...  2018-01-09      hk

[3441197 rows x 7 columns]

During the workshop, we will show students how they can answer the following questions with the methods they've already learned:<br>
> 1. What was the total number of streams? What was the largest number of streams for a song, position, date and region?
What is the average number of streams?<br>
> 2. How Many times did Maroon 5 get into top rated? What songs did they have? What artists did they collaborate with? How many of their remixes were in the chart?
>3. What is the distribution of the rows of data among regions? Do not include 'global' regions in your calculations. What is the least represented region and its %?

# This is a Title


*   Hello
*   Lword

### 1. What was the total number of streams? What was the largest number of streams for a song, position, date and region?

In [126]:
data.head(1)

   Position                  Track Name  ...        Date  Region
0         1  Reggaetón Lento (Bailemos)  ...  2017-01-01      ec

[1 rows x 7 columns]

In [137]:
stream=data.Streams.to_list()

In [138]:
stream

[19272,
 19270,
 15761,
 14954,
 14269,
 12843,
 10986,
 10653,
 9807,
 9612,
 9611,
 8982,
 8834,
 8309,
 7822,
 7586,
 7472,
 7416,
 7006,
 6779,
 6582,
 6521,
 6261,
 6237,
 6028,
 5723,
 5601,
 5586,
 5541,
 5362,
 5259,
 5198,
 5160,
 5025,
 5001,
 4933,
 4781,
 4644,
 4609,
 4379,
 4300,
 4286,
 4205,
 4103,
 3941,
 3734,
 3721,
 3467,
 3467,
 3376,
 3368,
 3356,
 3321,
 3275,
 3180,
 3085,
 3022,
 3005,
 2967,
 2955,
 2922,
 2863,
 2860,
 2817,
 2815,
 2801,
 2684,
 2663,
 2611,
 2604,
 2581,
 2554,
 2493,
 2482,
 2446,
 2442,
 2440,
 2429,
 2370,
 2351,
 2347,
 2330,
 2329,
 2327,
 2312,
 2304,
 2292,
 2290,
 2218,
 2212,
 2212,
 2202,
 2183,
 2175,
 2165,
 2150,
 2140,
 2135,
 2109,
 2101,
 2079,
 2071,
 2038,
 2035,
 1982,
 1981,
 1962,
 1874,
 1871,
 1861,
 1852,
 1826,
 1822,
 1819,
 1818,
 1812,
 1812,
 1801,
 1791,
 1780,
 1746,
 1743,
 1741,
 1715,
 1712,
 1688,
 1675,
 1673,
 1672,
 1665,
 1657,
 1652,
 1638,
 1628,
 1615,
 1599,
 1595,
 1594,
 1593,
 1585,
 1559,
 1553,
 1540,
 1521,
 1499,
 1486,
 1484,
 1479,
 1466,
 1461,
 1454,
 1454,
 1454,
 1440,
 1433,
 1427,
 1420,
 1416,
 1415,
 1411,
 1406,
 1403,
 1396,
 1394,
 1380,
 1377,
 1377,
 1372,
 1364,
 1363,
 1353,
 1346,
 1335,
 1328,
 1327,
 1324,
 1315,
 1315,
 1313,
 1302,
 1301,
 1298,
 1295,
 1294,
 1285,
 1285,
 1281,
 1272,
 1265,
 1264,
 1264,
 1258,
 1247,
 1239,
 1237,
 1236,
 1233,
 1230,
 1225,
 1223,
 16672,
 15594,
 13507,
 11958,
 11590,
 9096,
 9023,
 8511,
 8288,
 8205,
 8075,
 8048,
 7732,
 7437,
 7330,
 6974,
 6905,
 6883,
 6370,
 6287,
 6205,
 6032,
 5875,
 5822,
 5643,
 5500,
 5363,
 4915,
 4912,
 4894,
 4888,
 4879,
 4762,
 4708,
 4692,
 4569,
 4520,
 4498,
 4417,
 4309,
 4284,
 4149,
 3976,
 3975,
 3970,
 3910,
 3751,
 3618,
 3545,
 3484,
 3450,
 3361,
 3321,
 3194,
 3126,
 3118,
 3081,
 3060,
 3052,
 3001,
 2996,
 2919,
 2912,
 2805,
 2797,
 2673,
 2652,
 2602,
 2519,
 2497,
 2460,
 2436,
 2430,
 2430,
 2429,
 2355,
 2344,
 2335,
 2317,
 2293,
 2269,
 2260,
 2255,
 2238,
 2220,
 2183,
 2173,
 2138,
 2135,
 2123,
 2119,
 2112,
 2084,
 2067,
 2051,
 2051,
 2047,
 2038,
 2035,
 2019,
 2016,
 1998,
 1962,
 1955,
 1954,
 1952,
 1921,
 1893,
 1892,
 1888,
 1869,
 1861,
 1838,
 1811,
 1796,
 1789,
 1788,
 1783,
 1783,
 1778,
 1777,
 1773,
 1765,
 1760,
 1712,
 1684,
 1671,
 1665,
 1663,
 1630,
 1623,
 1622,
 1618,
 1613,
 1602,
 1597,
 1591,
 1588,
 1577,
 1569,
 1561,
 1548,
 1529,
 1519,
 1501,
 1496,
 1476,
 1473,
 1458,
 1457,
 1455,
 1433,
 1414,
 1406,
 1394,
 1386,
 1384,
 1379,
 1379,
 1371,
 1364,
 1364,
 1358,
 1357,
 1345,
 1344,
 1316,
 1316,
 1311,
 1309,
 1306,
 1298,
 1297,
 1294,
 1293,
 1291,
 1288,
 1286,
 1285,
 1280,
 1271,
 1268,
 1265,
 1265,
 1260,
 1256,
 1252,
 1250,
 1248,
 1246,
 1246,
 1246,
 1243,
 1241,
 1230,
 1218,
 1216,
 1214,
 1209,
 1209,
 17258,
 16614,
 14148,
 12336,
 12280,
 10652,
 9519,
 9244,
 9032,
 8993,
 8676,
 8425,
 8357,
 8281,
 8039,
 7821,
 7772,
 7395,
 7229,
 6990,
 6854,
 6686,
 6646,
 6118,
 6106,
 6050,
 5927,
 5791,
 5602,
 5535,
 5436,
 5430,
 5361,
 5108,
 5102,
 5014,
 4984,
 4974,
 4891,
 4629,
 4443,
 4442,
 4345,
 4244,
 4233,
 4173,
 4085,
 3973,
 3935,
 3904,
 3626,
 3582,
 3554,
 3467,
 3448,
 3336,
 3327,
 3300,
 3254,
 3191,
 3185,
 3176,
 3160,
 3105,
 3095,
 3076,
 3017,
 3008,
 2997,
 2946,
 2830,
 2788,
 2761,
 2738,
 2732,
 2683,
 2651,
 2641,
 2594,
 2588,
 2574,
 2573,
 2541,
 2538,
 2523,
 2502,
 2491,
 2464,
 2455,
 2425,
 2411,
 2361,
 2357,
 2355,
 2296,
 2234,
 2227,
 2165,
 2159,
 2151,
 2140,
 2138,
 2126,
 2124,
 2094,
 2092,
 2091,
 2073,
 2060,
 2058,
 2051,
 2044,
 2026,
 2015,
 1983,
 1974,
 1939,
 1930,
 1909,
 1885,
 1879,
 1876,
 1876,
 1863,
 1861,
 1852,
 1836,
 1827,
 1800,
 1765,
 1762,
 1751,
 1746,
 1746,
 1743,
 1736,
 1731,
 1729,
 1710,
 1707,
 1703,
 1688,
 1686,
 1670,
 1668,
 1659,
 1639,
 1639,
 1635,
 1624,
 1616,
 1601,
 1600,
 1585,
 1582,
 1581,
 1581,
 1573,
 1567,
 1566,
 1546,
 1521,
 1516,
 1515,
 1513,
 1504,
 1491,
 1481,
 1479,
 1475,
 1474,
 1467,
 1466,
 1461,
 1460,
 1459,
 1456,
 1449,
 1439,
 1425,
 1420,
 1420,
 1412,
 1411,
 1408,
 1407,
 1406,
 1398,
 1398,
 1396,
 1393,
 1391,
 1389,
 1383,
 1360,
 1357,
 1351,
 1349,
 1349,
 1347,
 18146,
 16582,
 14602,
 12413,
 12386,
 11303,
 10134,
 9747,
 9544,
 9073,
 8903,
 8808,
 8241,
 7978,
 7901,
 7794,
 7708,
 7621,
 7338,
 7116,
 6856,
 6757,
 6700,
 6466,
 6358,
 6240,
 6153,
 5814,
 5798,
 5772,
 5706,
 5623,
 5445,
 5429,
 5272,
 5137,
 5100,
 4993,
 4791,
 4742,
 4699,
 4686,
 4557,
 4483,
 4300,
 4289,
 4236,
 4219,
 4105,
 4103,
 3974,
 3566,
 3551,
 3445,
 3420,
 3405,
 3344,
 3336,
 3327,
 3257,
 3243,
 3211,
 3158,
 3141,
 3090,
 3074,
 3060,
 2986,
 2969,
 2949,
 2944,
 2940,
 2891,
 2873,
 2857,
 2843,
 2838,
 2814,
 2782,
 2757,
 2713,
 2679,
 2665,
 2644,
 2644,
 2620,
 2605,
 2534,
 2518,
 2503,
 2497,
 2495,
 2489,
 2455,
 2436,
 2417,
 2338,
 2318,
 2305,
 2292,
 2262,
 2259,
 2205,
 2202,
 2199,
 2187,
 2175,
 2168,
 2124,
 2115,
 2111,
 2095,
 2092,
 2089,
 2083,
 2060,
 2030,
 2015,
 1957,
 1957,
 1951,
 1933,
 1917,
 1915,
 1914,
 1894,
 1893,
 1890,
 1871,
 1852,
 1828,
 1787,
 1754,
 1750,
 1749,
 1746,
 1733,
 1728,
 1717,
 1712,
 1691,
 1675,
 1673,
 1655,
 1652,
 1649,
 1643,
 1637,
 1622,
 1614,
 1600,
 1594,
 1593,
 1588,
 1586,
 1584,
 1578,
 1577,
 1574,
 1571,
 1570,
 1569,
 1566,
 1566,
 1555,
 1545,
 1542,
 1531,
 1526,
 1515,
 1510,
 1501,
 1490,
 1490,
 1489,
 1479,
 1474,
 1473,
 1473,
 1472,
 1472,
 1470,
 1460,
 1454,
 1444,
 1440,
 1439,
 1439,
 1434,
 1421,
 1418,
 1414,
 1411,
 1408,
 1400,
 1398,
 1397,
 1393,
 1390,
 1387,
 17788,
 16254,
 14529,
 12337,
 12102,
 10765,
 10379,
 9666,
 9384,
 8874,
 8307,
 8305,
 8162,
 7900,
 7749,
 7706,
 7578,
 7569,
 7523,
 7399,
 6594,
 6483,
 6360,
 6279,
 6221,
 6107,
 5966,
 5826,
 5822,
 5782,
 5730,
 5460,
 5407,
 5265,
 5106,
 5070,
 5066,
 4922,
 4855,
 4727,
 4714,
 4544,
 4430,
 4420,
 4396,
 4384,
 4252,
 4243,
 4070,
 4006,
 3998,
 3700,
 3608,
 3596,
 3446,
 3302,
 3296,
 3273,
 3258,
 3235,
 3228,
 3180,
 3119,
 3084,
 3078,
 3040,
 2980,
 2970,
 2964,
 2960,
 2953,
 2923,
 2919,
 2910,
 2869,
 2825,
 2811,
 2804,
 2799,
 2788,
 2778,
 2748,
 2677,
 2650,
 2646,
 2595,
 2571,
 2567,
 2541,
 2515,
 2506,
 2505,
 2500,
 2475,
 2455,
 2395,
 2395,
 2389,
 2369,
 2328,
 2304,
 2282,
 2266,
 2260,
 2245,
 2242,
 2237,
 2237,
 2236,
 2208,
 2199,
 2198,
 2186,
 2182,
 2144,
 2125,
 2103,
 2091,
 2080,
 2079,
 2045,
 2040,
 2008,
 2002,
 1966,
 1960,
 1959,
 1936,
 1924,
 1917,
 1908,
 1880,
 1827,
 1824,
 1815,
 1802,
 1786,
 1763,
 1763,
 1759,
 1759,
 1742,
 1741,
 1724,
 1716,
 1693,
 1686,
 1686,
 1683,
 1669,
 1666,
 1658,
 1653,
 1651,
 1643,
 1636,
 1634,
 1632,
 1620,
 1602,
 1594,
 1592,
 1591,
 1590,
 1584,
 1579,
 1578,
 1577,
 1575,
 1571,
 1566,
 1554,
 1544,
 1542,
 1541,
 1540,
 1538,
 1530,
 1527,
 1527,
 1520,
 1505,
 1493,
 1493,
 1472,
 1464,
 1462,
 1460,
 1459,
 1455,
 1452,
 1449,
 1444,
 1443,
 1436,
 1435,
 1431,
 1430,
 1414,
 1408,
 ...]

#### What was the largest number of streams?

In [141]:
#option 1
stream.sort(reverse=True)
stream[0]

11381520

In [130]:
#option 2
max(stream)

11381520

#### What was the total number of streams over this period?

This can be an open question - how can we calculate the total number of the streams over this period?

In [131]:
sum(stream)

178569775235

In [132]:
len(stream)

3441197

It's important to note that even if this method is not as simple, it's still useful to practice thinking up different solutions, because in a different situation another option may be better.

In [133]:
# for i in stream:
#   print(i)

In [134]:
## this is showing how to work with iteration + list ( Chapter 4)
total_streams =0
for i in stream:
    total_streams += i

print(total_streams)

178569775235

#### What was the average number of streams during this period?

In [135]:
total_streams/len(stream)

51891.76185931814

### 2. How many times did Maroon 5 get into the top ratings?

Create a list with artists

In [26]:
artists=data.Artist.to_list()

Point out the previously solved task, with the total number of streams. We need a condition here.

In [27]:
counter=0
for i in artists:
    if i=='Maroon 5':
        counter+=1
    else: 
        continue

In [28]:
print(counter)

30125

In [29]:
# Error below. How would you resolve it?
# for i in artists
# print(i)

#### How many songs were a collaboration and who did they collaborate with?

Here the tutor may introduce the unique() method for students ( in order to teach students something new and make the task easier )

In [ ]:
data[data.Artist=='Maroon 5']['Track Name']

In [31]:
maroon5_songs=list(data[data.Artist=='Maroon 5']['Track Name'].unique())

In [ ]:
maroon5_songs

How do we find the collaborations?

Answer 'feat'. 



How to work with find() and gets back the songs with 'feat' in it. There is a problem with 'feat' vs 'feat.'

In [ ]:
for i in maroon5_songs:
    if i.find('feat')>0:
        if i.find('feat.')>0:
            print(i,'ok')
        else: 
            print(i,'not ok')

The next important thing is to actually get the artists that Maroon 5 collaborated with and save that data into a separate list. 


**What method they can use to help them to do that?**


Shows that we can use split() several times until we get the result that we need. The final function may look like this

In [ ]:
maroon5_songs

In [ ]:
remix = []
for i in maroon5_songs:
  # print(i)
  if i.find('Remix') > 0:
    remix.append(i)

print(remix)

In [ ]:
for i in maroon5_songs:
    if i.find('Remix') > 0:
        if i.find(' - ') > 0:
            collab=i.split('-')[1] #.split(')')[0]
            print(collab)

        #     collabs.append(collab)
        # elif i.find('feat') > 0: 
        #     collab=i.split('(feat')[1].split(')')[0]
        #     collabs.append(collab)
        # else:
        #     pass

In [ ]:
# collabs

#### How many of their remixes were on the chart?

In [ ]:
len(collabs)

## 3. What is the distribution of the rows of data among regions? Do not include the 'global' region in your calculations. What is the least represented region and it's %?

In [87]:
data = pd.read_csv('archive.zip',sep=',')

In [ ]:
regions=data.Region.to_list()
regions

Create a function that will take region as an argument and return a list with the region name and number of rows for that region.

In [89]:
def region_count(region):
    counter = 0
    for i in regions:
        if i == region:
            counter += 1
    return [region,counter]

In [ ]:
region_count('fr')

What do we need to do to calculate the share? Find rows for each region, but don't include 'global'.
Since we want to take the 'global' region out, we can 'skip' it in the iteration. 

How we can create a nested list here, and what are the next steps we should take?

In [ ]:
data['Region']

In [ ]:
data['Region'].unique()

In [ ]:
#don't take global into consideration 
total_for_regions=[]
for i in data['Region'].unique():
    if i=='global':
        continue
    else:    
        total_for_regions.append(region_count(i))
        print(i,'-ready')

In [ ]:
total_for_regions

In [ ]:
# Could use set to find unique values in a list
set(regions)

Let's add the % to each region. What do we need for that?

In [ ]:
data['Region'] = data.loc[data['Region'] != 'global']

count_global = 0
no_global = 0
for i in data['Region'].unique():
  if i == 'global':
    count_global += 1
  else:
    no_global += 1

print('Global Count:', count_global)
print('-'*50) 
print('Values Not Global: ', no_global)

In [ ]:
total_without_global = 0
for i in total_for_regions:
    total_without_global += i[1]
total_without_global

How do we calculate the % and insert it as a 3d element inside the nested list for each region?

In [98]:
# for i in total_for_regions:
#   print(i)

In [ ]:
for i in total_for_regions:
  print(i[1])

In [ ]:
for i in total_for_regions:
    i.append((i[1]/total_without_global)*100)
    print(i)

### What is the least represented region and it's %?

In [ ]:
least_represented=sorted(total_for_regions, key=lambda row: row[2])[0]
least_represented

In [ ]:
# Here we sort in ascending order by the 2nd slice
print( sorted(total_for_regions, key=lambda row: row[2]) )

In [ ]:
print("The least represented region is",least_represented[0],'with the share of',least_represented[2])

### Consider how you would slice and work with URL.

In [ ]:
data

In [ ]:
data['URL'].unique()